.container {
    position: relative;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.category-label {
    position: absolute;
    top: 1px;
    left: 12px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.icon-image {
    position: absolute;
    top: 33px;
    left: 9px;
    font-size: 24px;
    font-weight: bold;
}

.name-label {
    position: absolute;
    top: 30px;
    left: 160px;
    font-size: 24px;
    font-weight: bold;
}

.type-label {
    position: absolute;
    top: 45px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
}

.coder-label {
    position: absolute;
    top: 55px;
    left: 160px;
    font-size: 20px;
}

.description-title {
    position: absolute;
    top: 120px;
    left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.long-description-label {
    position: absolute;
    top: 150px;
    left: 10px;
    width: 720px;
    font-size: 20px;
}

.version-title {
    position: absolute;
    top: 210px;
    left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.version-label {
    position: absolute;
    top: 230px;
    left: 10px;
    font-size: 20px;
}

.release-date-title {
    position: absolute;
    top: 210px;
    left: 240px;
    font-size: 20px;
    font-weight: bold;
}

.release-date-label {
    position: absolute;
    top: 230px;
    left: 240px;
    font-size: 20px;
}
