.AppsBox {
    position: absolute;
    border: solid 1px black;
    left: 8px;
    top: 90px;
    width: 590px;
    height: 230px;
    z-index: 44;
    overflow: auto;
}

.backwards-button {
    position: absolute;
    top: 350px;
    left: 8px;
    font-size: 24px;
    font-weight: bold;
}

.prev-page-button {
    position: absolute;
    top: 350px;
    right: 230px;
    font-size: 24px;
    font-weight: bold;
}

.next-page-button {
    position: absolute;
    top: 350px;
    right: 8px;
    font-size: 24px;
    font-weight: bold;
}
