.title-label {
    position: absolute;
    top: 92px;
    left: 13px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.error-description {
    position: absolute;
    top: 130px;
    left: 17px;
    width: 720px;
    font-size: 20px;
}
