{% extends "base-layout.html" %}

{% block title %}Test{% endblock %}

{% block head %}
	{{ super() }}
	<script type="text/javascript">
		function onLoad() {
			onLoadCommon();
		}
	</script>
{% endblock %}

{% block content %}
		<p>hi</p>
		<p>i'm content</p>
		<p>and</p>
		<p>i'm</p>
		<p>{{ openify("scrooooolllingggg")|safe }}</p>
		<p>hai</p>
		<p>hi</p>
		<p>hai</p>
		<p>hi</p>
		<p>hai</p>
		<p>hi</p>
		<p>hai</p>
		<p>hi</p>
		<p>hai</p>
		<p>hi</p>
		<p>hai</p>
		<p>hi</p>
		<p>hai</p>
		<p>hi</p>
		<p>hai</p>
		<p>hi</p>
		<p>hai</p>
		<p>hi</p>
		<p>hai</p>
		<p>hi</p>
		<p>hai</p>
		<p>hi</p>
		<p>hai</p>
		<p>hi</p>
		<p>hai</p>
		<p>hi</p>
		<p>hai</p>
{% endblock %}

{% block footer %}
	<div id="main-footer-btns">
		{{ osc.btn(_("Wii Menu"), id="wii-menu-btn", href="javascript:shop.returnToMenu()") }}
		{{ osc.btn("Something", id="other-btn") }}
	</div>
{% endblock %}