<!doctype html>
<head>
    <title>Open Shop Channel - App - {{ package["display_name"] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app_page.css') }}">
    <script rel="stylesheet" src="{{ url_for('static', filename='common.js') }}"></script>
</head>
<body style="overflow: hidden">
<nav>
    <ol class="breadcrumb">
        <li>Open Shop Channel / Apps / {{ package["display_name"] }}</li>
    </ol>
</nav>
<section class="content">
    <div class="container">
        <img src="{{ url_for('static', filename='app_view.png') }}" style="width:100%;">
        <div class="icon-image"><img src="http://hbb1.oscwii.org/hbb/{{ package["internal_name"] }}.png" height="54"></div>
        <div class="category-label">{{ package["category"].upper() }}</div>
        <div class="name-label">{{ package["display_name"] }}</div>
        <div class="type-label">{{ package["package_type"].upper() }}</div>
        <div class="coder-label">Made by {{ package["coder"] | truncate(50) }}</div>
        <div class="description-title">Description:</div>
        <div style="max-width:570px" class="long-description-label">{{ package["long_description"] | truncate(203) }}</div>
        <div class="version-title">Version:</div>
        <div class="version-label">{{ package["version"] | truncate(15) }}</div>
        <div class="release-date-title">Release Date:</div>
        <div class="release-date-label">{{ package["release_date"] | truncate(45) }}</div>
        <p><a href="./apps" class="link_button" style="float: left;"><- Back</a><a href="#"
                                                                                               class="link_button"
                                                                                               style="float: right;">Download
            App</a></p>
    </div>
</section>
</body>
