{% extends "base.html" %}

{% block title %}
{% trans %}Application{% endtrans %}
{% endblock %}

{% block style %}
    #appTopBox {
        width: 394px;
        height: 107px;
        left: 107px;
        top: 106px;
        background-color: #34ED90;
    }
    #appCategory {
        left: 115px;
        top: 111px;
        color: #FFFFFF;
        font-size: 13px;
    }
    #appTopFrame {
        width: 377px;
        height: 74px;
        left: 116px;
        top: 131px;
        background-color: #E3FFF1;
    }
    #appIcon {
        width: 128px;
        height: 48px;
        left: 124px;
        top: 144px;
        background-color: #ffffff;
        border: 1px solid #373737;
    }
    #appName {
        left: 265px;
        top: 151px;
        color: #373737;
        font-size: 13px;
    }
    #appCoder {
        left: 265px;
        top: 169px;
        color: #373737;
        font-size: 12px;
    }
    #appBottomBox {
        width: 394px;
        height: 138px;
        left: 107px;
        top: 205px;
        background-color: #34ED90;
    }
    #appBottomFrame {
        width: 377px;
        height: 124px;
        left: 116px;
        top: 212px;
        background-color: #E3FFF1;
    }
    #backButton {
        width: 180px;
        height: 35px;
        left: 118px;
        top: 356px;
        background-color: #35BEEC;
    }
    #backButtonText {
        left: 189px;
        top: 363px;
        color: #FFFFFF;
        font-size: 16px;
    }
    #backButtonCentered {
        width: 180px;
        height: 35px;
        left: 211px;
        top: 356px;
        background-color: #35BEEC;
    }
    #backButtonTextCentered {
        left: 282px;
        top: 363px;
        color: #FFFFFF;
        font-size: 16px;
    }
    #downloadButton {
        width: 180px;
        height: 35px;
        left: 311px;
        top: 356px;
        background-color: #35BEEC;
    }
    #downloadButtonText {
        left: 363px;
        top: 363px;
        font-size: 16px;
        color: #FFFFFF;
    }
    #appDescriptionBox {
        width: 360px;
        height: 68px;
        left: 125px;
        top: 222px;
        color: #373737;
        font-size: 11px;
    }
    #appDetailsBox {
        width: 377px;
        height: 26px;
        left: 116px;
        top: 310px;
        text-align: center;
        color: #373737;
        font-size: 12px;
    }
    #appDetailsBox * {
        position: static;
    }
    #fadeCover {
        width: 608px;
        height: 456px;
        background-color: black;
        z-index: 999;
    }
{% endblock %}

{% block onload %}
{% endblock %}

{% block script %}
    function fadeOut() {
        playSE(SoundType.SELECT);
        window.location.href = "startdownload?app={{ app['slug'] }}"
    }
{% endblock %}

{% block content %}
    <div id="appTopBox">
        <p id="appCategory"><b>{{ category_translation(app["category"]) }}</b></p>
        <div id="appTopFrame">
            <img id="appIcon" src="{{ app['url']['icon'].replace('https', 'http') }}"/>
            <p id="appName">{{ app["name"] }}</p>
            <p id="appCoder">{{ app["author"] }}</p>
        </div>
    </div>
    <div id="appBottomBox">
        <div id="appBottomFrame">
            <div id="appDescriptionBox">
                {% if app["description"]["long"] %}
                    {{ app["description"]["long"][0:220] }}
                {% endif %}
            </div>
        </div>
        <div id="appDetailsBox">
            <span id="appVersion">Version {{ app["version"] }} </span>
            |
            <span id="appDate">{{ app["release_date"] }} </span>
            |
            <span id="appSize">{{ app["extracted_human_size"] }}</span>
        </div>
    </div>

    <div class="button" id="backButton">
        <a href="javascript:history.back()" class="buttonLink"></a>
        <p id="backButtonText">{% trans %}Back{% endtrans %}</p>
    </div>
    <div onmouseover="if (!startingDownload) {buttonMouseOver('downloadButton')}" onmouseout="if (!startingDownload) {buttonMouseOut('downloadButton')}" onmousedown="fadeOut();" id="downloadButton">
        <p id="downloadButtonText">{% trans %}Download{% endtrans %}</p>
    </div>

    <script>
        var info = ec.getTitleInfo('{{  app["shop"]["title_id"] }}');

        // If it is undefined just return out
        if (info !== undefined) {
            if (info.isOnDevice && info.version >= parseInt('{{ app["shop"]["title_version"] }}')) {
                var installButton = document.getElementById('downloadButton');
                installButton.style.display = "none";

                var backButton = document.getElementById("backButton");
                backButton.id = "backButtonCentered";

                var backButtonText = document.getElementById("backButtonText");
                backButtonText.id = "backButtonTextCentered";
            }

            if (info.isOnDevice && info.version < parseInt('{{ app["shop"]["title_version"] }}')) {
                var text = document.getElementById("downloadButtonText");
                text.innerText = "Update";
            }
        }
    </script>
{% endblock %}