<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
        <style>{% block style %} {% endblock %}</style>

        <script src="http://code.jquery.com/jquery-1.3.2.min.js"></script>
        <script src="{{ url_for('static', filename='js/common.js') }}"></script>
        <script src="{{ url_for('static', filename='js/tinycolor.js') }}"></script>
        <script src="{{ url_for('static', filename='js/buttons.js') }}"></script>
        <script>{% block script %}{% endblock %}</script>
        <script>function onLoad() { {% block onload %}{% endblock %} }</script>

        <title>{% block title %}{% endblock %} - Open Shop Channel</title>
    </head>
    <body onload="onLoad()">
        <div id="mainContent">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>