{% extends "base.html" %}

{% block body %}
	<div id="main-header">
		<div id="main-header-contents">
			{% block header -%}
			<h1 class="title" id="main-heading">{% block headerTitle %}{{ openify("Open")|safe }} Shop Channel{% endblock %}</h1>
			{%- endblock %}
		</div>
		{% if dots|default(true) %}<div class="dots">･･･････････････････････････････････････････････････････････････････････････</div>{% endif %}
	</div>

	<div id="main-content">
		{%- block content -%}{%- endblock %}
	</div>

	<div id="main-footer">
		{% if dots|default(true) %}<div class="dots">･･･{{ openify("････")|safe }}････････････････････････････････････････････････････････････････････</div>{% endif %}
		<div id="main-footer-contents">
			{%- block footer -%}{%- endblock %}
		</div>
	</div>
{% endblock %}