<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <style>
        * {
            position: fixed;
            padding: 0px;
            margin: 0px;
        }

        #titleBar {
            width: 559px;
            height: 41px;
            left: 25px;
            top: 24px;
            background-color: #F3F3F3;
        }

        #titleText {
            z-index: 1;
            left: 40px;
            top: 30px;
            font-size: 20px;
            color: #707070;
        }

        {% block style %} {% endblock %}</style>

    <script src="{{ url_for('static', filename='js/jquery-1.3.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ec-watchdog.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ec.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tinycolor.js') }}"></script>
    <script>{% block script %}{% endblock %}</script>
    <script>function onLoad() {
        initializeEC();
        {% block onload %}{% endblock %}
        setupButtons();
    }
    </script>

    <title>{% block title %}{% endblock %} - Open Shop Channel</title>
</head>
<body onload="onLoad()">
<div id="mainContent">
    <div id="titleBar"></div>
    <p id="titleText">{{ self.title() }}</p>
    <a href="debug">Debug</a>
    {% block content %}{% endblock %}
</div>
</body>
</html>
