{% extends "base-layout.html" %}

{% set header_btns = true %}

{% set title = category_translation(request.args.get("category")) %}
{% set header_title = title %}

{% block head %}
	{{ super() }}
	<script type="text/javascript">
		shop.setWallpaper(WallpaperType.DOTTED_HORIZONTAL_LINES);

		function onLoad() {
			onLoadCommon();
		}
	</script>

	<style>
		/* 38px */
		#main-content {
			padding: 0px 19px 0px 29px;
		}

		#category-description {
			margin-bottom: 10px;
		}

		#btn-table {
			width: 100%;
			padding: 0px 19px 0px 9px;
			table-layout: fixed;
			border-spacing: 0px;
		}

		#btn-table .btn {
			font-size: 16px;
		}

		.btn-table-m-left-auto > * {
			margin-left: auto;
		}

		.btn-table-gap {
			height: 20px;
		}
	</style>
{% endblock %}

{% block content %}
	<p class="blue bold" id="category-description">{{ category_translation(request.args.get("category"), "description") }}</p>
	{# could maybe use CSS table as that could semantically be more correct, but that would require more code (and doesn't matter for this) -#}
	<table id="btn-table">
		<tr>
			<td>{{ osc.btn(_("Popular Titles"), href="", w="240px", h="65px") }}</td>
			<td class="btn-table-m-left-auto">{{ osc.btn(_("Newest Additions"), href="/search?type=titles", w="240px", h="65px") }}</td>
		</tr>
		<tr class="btn-table-gap"><td></td></tr>
		<tr>
			{# percent width... bad! won't work later -#}
			<td colspan="2">{{ osc.btn(_("Search by Publisher"), href="/search?type=publishers", w="100%", h="65px") }}</td>
		</tr>
		<tr class="btn-table-gap"><td></td></tr>
		<tr>
			<td colspan="2">{{ osc.btn(_("Search by Title"), href="", w="100%", h="65px") }}</td>
		</tr>
	</table>
{% endblock %}

{% block footer %}
	<div id="main-footer-btns">
		{{ osc.btn(_("Back"), class="btn-cancel", id="back-btn", href="javascript:history.back()") }}
	</div>
{% endblock %}