<!doctype html>
<head>
    <title>Open Shop Channel - Debug</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script rel="stylesheet" src="{{ url_for('static', filename='common.js') }}"></script>
</head>
<body style="overflow: hidden">
<nav>
    <ol class="breadcrumb">
        <li>Open Shop Channel / Debug</li>
    </ol>
</nav>
<section class="content">
    <a href="/app?package=WiiVNC">Go to WiiVNC app page</a>
    <a href="/app?package=danbo">Go to Danbo app page</a>
</section>
</body>
