<!doctype html>
<head>
    <title>Open Shop Channel - Debug</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script rel="stylesheet" src="{{ url_for('static', filename='common.js') }}"></script>
</head>
<body style="overflow: hidden">
<nav>
    <ol class="breadcrumb">
        <li>Open Shop Channel / Debug</li>
    </ol>
</nav>
<section class="content">
    <a class="link_button_small" href="/app?package=WiiVNC">Go to WiiVNC app page</a>
    <a class="link_button_small" href="/app?package=danbo">Go to Danbo app page</a>
            <textarea id="evalInput" rows="4" style="width: 100%" onmousedown="keyboard.call( 0, 10, false, 'eval input');">eval input</textarea>
        <textarea id="evalOutput" rows="4" style="width: 100%" readonly>eval output</textarea>
        <button class="link_button_small" onmousedown="document.getElementById('evalOutput').value = eval(document.getElementById('evalInput').value)">execute</button>
</section>
</body>
