<!doctype html>
<head>
    <title>Open Shop Channel - Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='error_page.css') }}">
    <script rel="stylesheet" src="{{ url_for('static', filename='common.js') }}"></script>
</head>
<body>
    <nav>
        <ol class="breadcrumb">
            <li>Open Shop Channel / Error / {{ code }}</li>
        </ol>
    </nav>
    <section class="content">
        <div class="container">
            <img src="{{ url_for('static', filename='error_view.png') }}" style="width:100%;">
            <div class="title-label">Open Shop Channel has encountered an error!</div>
            <div class="error-description">{{ description }}</div>
            <p><a href="./home" class="link_button_error" style="float: left;"><- Back Home</a></p>
        </div>
    </section>
</body>
