{% extends "base.html" %}

{% block title %}
{% trans %}Download Complete!{% endtrans %}
{% endblock %}

{% block style %}
    #browseButton {
        width: 180px;
        height: 35px;
        left: 214px;
        top: 226px;
        background-color: #35BEEC;
    }
    #browseText {
        left: 249px;
        top: 233px;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        z-index: 1;
    }
{% endblock %}

{% block content %}
    <!-- TODO: Please fix this page and the download page -->
    <div class="button" id="browseButton">
        <a href="browse" class="buttonLink"></a>
        <p id="browseText">{% trans %}Return to Shop{% endtrans %}</p>
    </div>
{% endblock %}