<!doctype html>
<head>
    <title>Open Shop Channel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home_page.css') }}">
    <script rel="stylesheet" src="{{ url_for('static', filename='common.js') }}"></script>
</head>
<body>
    <nav>
        <ol class="breadcrumb">
            <li>Open Shop Channel / Home</li>
        </ol>
    </nav>
    <section class="content">
        <div class="container">
            <img src="{{ url_for('static', filename='home_view.png') }}" style="width:100%;">
            <div class="osc-title">Open Shop Channel: Apps Library</div>
            <div class="featured-title">Featured App</div>
            <div class="news-title">News</div>
            <div class="all-apps-button"><a onclick="wiiSound().playSE(3)" href="/apps" class="link_button_small">All Apps</a></div>
            <div class="utility-button"><a onclick="wiiSound().playSE(3)" href="/apps?cat=utilities" class="link_button_small">Utilities</a></div>
            <div class="emulators-button"><a onclick="wiiSound().playSE(3)" href="/apps?cat=emulators" class="link_button_small">Emulators</a></div>
            <div class="games-button"><a onclick="wiiSound().playSE(3)" href="/apps?cat=games" class="link_button_small">Games</a></div>
            <div class="media-button"><a onclick="wiiSound().playSE(3)" href="/apps?cat=media" class="link_button_small">Media</a></div>
             <div class="demos-button"><a onclick="wiiSound().playSE(3)" href="/apps?cat=demos" class="link_button_small">Demos</a></div>
            <div class="debug-button"><a onclick="wiiSound().playSE(3)" href="/debug" class="link_button_small">Debug</a></div>
            <p><a onclick="wiiShop().returnToMenu(); wiiSound().playSE(3)" class="link_button" style="float: left;"><- Exit to Wii Menu</a></p>
        </div>
    </section>
</body>
