{% extends "base-layout.html" %}

{% set dots = false %}

{% block title %}Landing{% endblock %}

{% block head %}
	{{ super() }}
	<script type="text/javascript">
		// hmm, maybe something can be done here where if the dots variable is false, it implicitly sets the wallpaper to white
		shop.setWallpaper(WallpaperType.WHITE);

		function onLoad() {
			onLoadCommon();

			shop.endWaiting();
			sound.playBGM();
		}
	</script>

	<style>
		#main-header-contents {
			text-align: center;
		}

		#main-heading {
			display: inline;
			font-size: 30px;
		}

		#start-shopping-btn {
			margin: auto;
			font-size: 24px;
		}
	</style>
{% endblock %}

{% block header %}
	{{ super() }}
	<span class="blue">Recommended Titles</span>
{% endblock %}

{% block content %}
	<p>hai</p>
{% endblock %}

{% block footer %}
	<!-- rework how buttons work later -->
	<div class="btn btn-test" id="start-shopping-btn" style="width: 353px; height: 56px;">
		<span class="btn-body">{% trans %}Start Browsing{% endtrans %}</span>
	</div>
{% endblock %}