{% extends "base-layout.html" %}

{% set dots = false %}

{% set title = _("Landing") %}

{% block head %}
	{{ super() }}
	<script type="text/javascript">
		// hmm, maybe something can be done here where if the dots variable is false, it implicitly sets the wallpaper to white
		shop.setWallpaper(WallpaperType.WHITE);

		function onLoad() {
			onLoadCommon();

			shop.endWaiting();
			sound.playBGM();
		}
	</script>

	<style>
		#main-header-contents {
			text-align: center;
		}

		#main-heading {
			display: inline;
			font-size: 30px;
		}

		#start-shopping-btn {
			margin: auto;
			font-size: 24px;
		}
	</style>
{% endblock %}

{% block header %}
	{{ super() }}
	<span class="blue">{% trans %}Recommended Titles{% endtrans %}</span>
{% endblock %}

{% block content %}
	<p>hai</p>
{% endblock %}

{% block footer %}
	{{ osc.btn(_("Start Browsing"), id="start-shopping-btn", href="/home", w="353px", h="56px") }}
{% endblock %}