<!doctype html>
<head>
    <title>Open Shop Channel - Apps</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='list_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app_entry.css') }}">
    <script rel="stylesheet" src="{{ url_for('static', filename='common.js') }}"></script>
</head>
<body>
<nav>
    <ol class="breadcrumb">
        <li>Open Shop Channel / Application List</li>
    </ol>
</nav>
<section class="content">
    <div id="AppsBox" class="AppsBox">
        {% for package in packages %}
        <div class="container">
        <a href="/app?package={{ package["internal_name"] }}" onclick="playSE(3)" onmouseover="playSE(2)">
            <img src="{{ url_for('static', filename='app_entry_view.png') }}" style="width:100%;">
            <img src="{{ url_for('static', filename='app_entry_view_hover.png') }}" class="img-top" style="width:100%;">
            <div class="icon-image"><img src="http://hbb1.oscwii.org/hbb/{{ package["internal_name"] }}.png" height="49"></div>
            <div class="category-label">{{ package["category"].upper() }}</div>
            <div class="name-label">{{ package["display_name"] }}</div>
        </a>
        </div>
        {% endfor %}
    </div>
    <div class="backwards-button"><a href="/home" onclick="playSE(3)" onmouseover="playSE(2)" class="link_button">HOME</a></div>
    {% if page > 1 %}
        <div class="prev-page-button"><a onclick="playSE(3)" onmouseover="playSE(2)" href="{{ modify_query(p=page - 1) }}" class="link_button"><
            Page {{ page - 1 }}</a></div>
    {% endif %}
    {% if packages|length == 10 %}
        <div class="next-page-button">
        <a onclick="playSE(3)" onmouseover="playSE(2)" href="{{ modify_query(p=page + 1) }}" class="link_button">Page {{ page + 1 }} ></a>
    {% endif %}
    </div>
</section>
</body>
