{% extends "base-layout.html" %}

{# Rename this to a more appropriate filename later... This will be reused for subcategories once they are implemented (e.g., having a list of game genres) -#}
{% block title %}{% block header_title %}Search by Publisher{% endblock %}{% endblock %}

{% block head %}
	{{ super() }}
	<script type="text/javascript">
		shop.setWallpaper(WallpaperType.DOTTED_HORIZONTAL_LINES);

		function onLoad() {
			onLoadCommon();
		}
	</script>

	<style>
		#main-content {
			padding: 3px 7px;
			margin: 0px 30px 0px 36px;
			border: 1px solid #35beed;
			background-color: #c4fbff;
		}

		.items {
			/* :( */
			margin-left: -8px;
		}

		/* different browsers handle this differently...
		 * - on the WSC the space on the bottom of the container is about the same as the top
		 * - on Firefox the space on the bottom of the container is about the same as the top + that of the bottom items
		 * - on Chrome there isn't space at the bottom of the container at all 
		 * anything to do with items is just hacky */
		.items > .item {
			float: left;
			margin: 0px 0px 4px 8px;
		}

		.items > .item > .btn {
			font-size: 14px;
		}

		.btn-item {
			padding: 0px;
		}

		/* yaaay dumb hacks i have to do to bump the title down 1px and not affect everything when you hover (indicated by "yep") */
		.btn-item .top {
			padding: 3px;
			/* padding-top: 3px;*/ /* yep (ok well maybe not because while it's more accurate on desktop, it's not on Wii. AAAAAAAARRRGGGGHHHH */
			line-height: 1;
		}

		.btn-item .sep {
			height: 1px;
			display: block;
			background-color: #34beed;
			margin: 0px 11px;
			margin-top: -2px; /* yep */
		}

		/* This *really* affects SVG button performance */
		.btn-item:hover .sep {
			outline: 1px solid #34beed; /* use outline because it doesn't affect flow as it doesn't change element height (yep) */
			margin: 0px 12px;
			margin-top: -2px; /* yep */
		}

		/* TODO: fixed size for the title count specifically */
		.btn-item .bottom {
			text-align: right;
			padding: 0px 8px;
			line-height: 1;
		}
	</style>
{% endblock %}

{% block header %}
	<h1 class="title" id="main-heading">{{ self.header_title() }}</h1>
	{# all to later be moved to base-layout -#}
	<div id="main-header-btns">
		<div>{{ osc.btn(class="btn-cancel", id="top-btn", href="/home", w="52px", h="55px", img=url_for('static', filename='img/icons/top.svg'), img_w="34", img_h="34") }}</div>
		<div class="last">{{ osc.btn(id="help-btn", href="", w="52px", h="55px", img=url_for('static', filename='img/icons/help.svg'), img_w="23", img_h="35") }}</div>
	</div>
{% endblock %}

{% macro btn_item(top, bottom) %}
	<a class="btn btn-item" style="width: 233px; height: 51px">
		<span><span class="top">{{ top }}</span></span>
		<span><span><span class="sep"></span></span></span>
		<span><span class="bottom">{{ bottom }}</span></span>
	</a>
{% endmacro %}

{% block content %}
	<div class="items">
		{% for i in range(8) %}
		<div class="item">{{ btn_item("A Publisher", "Titles: 12") }}</div>
		<div class="item">{{ btn_item("Filler", "Titles: 6") }}</div>
		{% endfor %}
	</div>
{% endblock %}

{% block footer %}
	<div id="main-footer-btns">
		{{ osc.btn(_("Back"), class="btn-cancel", id="back-btn", href="javascript:history.back()") }}
	</div>
{% endblock %}