{% extends "base.html" %}

{% block title %}
Search Results
{% endblock %}

{% block style %}
    * {
        position: fixed;
        padding: 0px;
        margin: 0px;
    }
    #logo {
        width: 192px;
        height: 68px;
        left: 208px;
        top: 98px;
    }
    #titleBar {
        width: 559px;
        height: 41px;
        left: 25px;
        top: 24px;
        background-color: #F3F3F3;
    }
    #titleText {
        z-index: 1;
        left: 40px;
        top: 30px;
        font-size: 20px;
        color: #707070;
    }
    #resultsBox {
        width: 517px;
        height: 303px;
        left: 45px;
        top: 80px;
        background-color: #33BEED;
    }
    #resultsFrame {
        width: 500px;
        height: 267px;
        left: 54px;
        top: 107px;
        background-color: #DEF7FF;
        overflow: auto;
    }
    #resultsTitle {
        left: 54px;
        top: 85px;
        font-size: 13px;
        color: #FFFFFF;
    }
    #resultsFrame * {
        position: static;
    }
    #resultsFrame > div {
        width: 394px;
        height: 107px;
        background-color: #34ED90;
        margin: 10px; 
    }
    #resultsResultFrame {
        width: 377px;
        height: 74px;
        margin-top: 4px;
        margin-left: 9px;
        background-color: #E3FFF1;
    }
    #resultsResultCategory {
        font-size: 13px;
        color: #FFFFFF;
        padding-left: 9px;
        padding-top: 4px;
    }
    #resultsResultTable {
        width: 100%;
        height: 100%;
    }
    #resultsResultIconCell {
        width: 130px;
        padding-left: 10px;
        padding-right: 10px;
    }
    td {
        vertical-align: middle;
        text-align: left;
    }
    #resultsResultIcon {
        background-color: #ffffff;
        border: 1px solid #373737;
    }
    #resultsResultName {
        font-size: 13px;
        color: #373737;
    }
    #resultsResultCoder {
        font-size: 11px;
        color: #373737;
    }
    #previousButton {
        width: 83px;
        height: 35px;
        left: 389px;
        top: 394px;
        background-color: #33BEED;
    }
    #previousButtonText {
        left: 398px;
        top: 401px;
        color: #ffffff;
        font-size: 16px
    }
    #nextButton {
        width: 83px;
        height: 35px;
        left: 480px;
        top: 394px;
        background-color: #33BEED;
    }
    #nextButtonText {
        left: 505px;
        top: 401px;
        color: #ffffff;
        font-size: 16px;
    }
    #backButton {
        width: 180px;
        height: 35px;
        left: 46px;
        top: 394px;
        background-color: #35BEEC;
    }
    #backButtonText {
        left: 117px;
        top: 401px;
        color: #ffffff;
        font-size: 16px;
    }
{% endblock %}

{% block onload %}
    setupButtons();
{% endblock %}

{% block script %}

{% endblock %}

{% block content %}
    <div id="titleBar"></div>
    <p id="titleText">Search Results</p>

    <div id="resultsBox">
        <p id="resultsTitle">Search Results</p>
        <div id="resultsFrame">
            {% for result in results %}
                <div class="button" id="result{{ result['internal_name'] }}">
                    <a href="app?app={{ result['internal_name'] }}" class="buttonLink"></a>
                    <p id="resultsResultCategory"><b>{{ result["category"].title() }}</b></p>
                    <div id="resultsResultFrame">
                        <table id="resultsResultTable">
                            <tr>
                                <td id="resultsResultIconCell"><img id="resultsResultIcon" src="{{ result['icon_url'].replace('https', 'http') }}"/></td>
                                <td><p><span id="resultsResultName">{{ result["display_name"] }}</span><br><span id="resultsResultCoder">{{ result["coder"] }}</span></p></td>
                            </tr>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="button" id="backButton">
        <a href="browse" class="buttonLink"></a>
        <p id="backButtonText">Back</p>
    </div>
    {% if lastPage %}
        <div class="button" id="previousButton">
            <a href="{{ lastPage }}" class="buttonLink"></a>
            <p id="previousButtonText">Previous</p>
        </div>
    {% endif %}
    {% if nextPage %}
        <div class="button" id="nextButton">
            <a href="{{ nextPage }}" class="buttonLink"></a>
            <p id="nextButtonText">Next</p>
        </div>
    {% endif %}


{% endblock %}
