<!doctype html>
<head>
    <title>Open Shop Channel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script rel="stylesheet" src="{{ url_for('static', filename='common.js') }}"></script>
    <script>
        wiiSound().playBGM()
    </script>
</head>
<body>
    <nav>
        <ol class="breadcrumb">
            <li>Open Shop Channel / Welcome</li>
        </ol>
        <div style="text-align: center;"><h1 class="osc_big_title">Open Shop Channel</h1></div>
    </nav>
    <section class="content">
        <header>
            <div style="text-align: center;"><p>Open the shop, or so we said.</p></div>
            <div style="text-align: center;"><p><a href="./home" onclick="wiiSound().playSE(3)" class="link_button">Browse Applications</a></p></div>
            <table class="FeaturedTable">
                <thead>
                <tr>
                    <th>Featured Application</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                         <div style="text-align: center;"><a href="/app?package=WiiVNC"><img src="http://hbb1.oscwii.org/hbb/WiiVNC.png"></a></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </header>
    </section>
</body>
