<!doctype html>
<title>Open Shop Channel</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <ol class="breadcrumb">
        <li>Open Shop Channel / Welcome</li>
    </ol>
    <center><h1 class="osc_big_title">Open Shop Channel</h1></center>
</nav>
<section class="content">
  <header>
      <center><p>Open the shop, or so we said.</p></center>
      <center><p><a href="./home" class="link_button">Browse Applications</a></p></center>
      <table class="FeaturedTable">
          <thead>
            <tr>
                <th>Featured Application</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>
                    <center><img src="http://hbb1.oscwii.org/hbb/WiiVNC.png"></center>
                    <p>WiiVNC is an app.</p>
                    <p>Very cool.</p>
                </td>
            </tr>
  </tbody>
</table>
  </header>
</section>
