{% extends "base-layout.html" %}

{% set header_btns = true %}

{# This is also shown as part as the download process, albeit under a different title. This should later be properly templated somehow. #}
{% set title = _("Controller Confirmation") %}
{% set header_title = title %}

{% block head %}
	{{ super() }}
	<script type="text/javascript">
		shop.setWallpaper(WallpaperType.DOTTED_HORIZONTAL_LINES);

		function onLoad() {
			onLoadCommon();
		}
	</script>

	<style>
		#main-content {
			margin: 0px 54px 0px 54px;
			padding: 4px 12px;
			background-image: url("{{ url_for('static', filename='img/1px-blue-rounded-border.svg') }}");
		}

		#title-name-container {
			height: 50px;
			border-bottom: 1px solid #34beed;
		}

		#title-name {
			font-size: 18px;
			font-weight: normal;			
		}

		#title-details-container {
			padding: 4px 0px;
		}

		#controllers {
			text-align: center;
			margin: 8px 0px;
		}
	</style>
{% endblock %}

{% block content %}
	<div id="title-name-container">
		<h2 class="blue text-center" id="title-name">Danbo</h2>
	</div>
	<div id="title-details-container">
		<p class="blue text-center font-14px">{% trans %}Please note the following when downloading this software:{% endtrans %}</p>
		<div id="controllers">
			<img src="{{ url_for('static', filename='img/badges/wiimote.svg') }}" width="56" height="41"/>
		</div>
		<p>{% trans %}You can use this software only with the Wii Remote.{% endtrans %}</p>
	</div>
{% endblock %}

{% block footer %}
	<div id="main-footer-btns">
		{{ osc.btn(_("Back"), class="btn-cancel", id="back-btn", href="javascript:history.back()") }}
	</div>
{% endblock %}