{% extends "base-layout.html" %}

{% set header_btns = true %}

{% set title = _("More Details") %}
{% set header_title = title %}

{% block head %}
	{{ super() }}
	<script type="text/javascript">
		shop.setWallpaper(WallpaperType.DOTTED_HORIZONTAL_LINES);

		function onLoad() {
			onLoadCommon();
			scrollTarget = $("#title-details > .bottom")[0];
		}
	</script>

	<style>
		#main-content {
			height: 299px;
			padding: 0px 30px 0px 36px;
			margin: -9px 0px;
			overflow: hidden;
		}

		#category-heading {
			width: 229px;
			height: 21px;
			background-color: #34beed;
			color: white;
			padding: 0px 3px;
			font-size: 14px;
			font-weight: bold;
			line-height: 25px;
		}

		#title-details {
			border: 1px solid #34beed;
		}

		#title-details > .top {
			height: 54px;
			padding: 4px;
			border-bottom: 1px solid #34beed;
		}

		#title-details > .bottom {
			height: 221px; /* 299 - 21 - 2 (#title-details vertical borders) - 54 - 1 (.top bottom border) = 221  */
			padding: 8px;
			overflow: auto;
		}

		#title-details-content {
			display: table;
		}

		#title-details-content > * {
			display: table-row;
		}

		#title-details-content > * > * {
			display: table-cell;
			vertical-align: top;
		}

		#title-details-content .image-col {
			padding-right: 8px;
		}

		#title-details-content .image-col img {
			margin-bottom: 16px; /* we don't have last-child so i can't remove this on the last image AAAAAHHHH */
		}

		#title-details-content .content-col {
			width: 100%;
			font-size: 18px;
		}
	</style>
{% endblock %}

{% block content %}
	<div id="category-heading">Category</div>
	<div id="title-details">
		<div class="top">
			<p class="blue text-center" id="title-name">Danbo</p>
		</div>
		<div class="bottom">
			<div id="title-details-content">
				<div>
					<div class="image-col">
						<img src="{{ url_for('static', filename='img/danbo.png') }}" width="160" height="120"/>
						<img src="{{ url_for('static', filename='img/danbo.png') }}" width="160" height="120"/>
					</div>
					<div class="content-col">
						<p>Hi. I have a left sidebar for images and screenshots.</p>
						{% for i in range(16) %}
						<p>I can scroll</p>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}
	<div id="main-footer-btns">
		{{ osc.btn(_("Back"), class="btn-cancel", id="back-btn", href="javascript:history.back()", style="float: left") }}
	</div>
{% endblock %}