{% extends "base-layout.html" %}

{% set header_btns = true %}

{% set title = _("Download") %}
{% set header_title = title %}

{% block head %}
	{{ super() }}
	<script type="text/javascript">
		// TODO: Sanitise/escape the translations!
		const pageTitles = {
			"location-select": "{% trans %}Download Location{% endtrans %}",
			"confirmation": "{% trans %}Download Confirmation{% endtrans %}"
		}

		var titleInfo = {

		};

		function showPage(id) {
			$("#pages > .page").each(function(i) {
				$(this).addClass("d-none");
			});

			$("#page-footers > .page-footer").each(function(i) {
				$(this).addClass("d-none");
			});

			if (pageTitles[id])
				$("#main-heading").text(pageTitles[id]);

			$("#pages > #" + id + "-page.page").removeClass("d-none");
			$("#page-footers > #" + id + "-page-footer.page-footer").removeClass("d-none");
		}

		$(document).ready(function() {
			showPage("location-select");
		});

		shop.setWallpaper(WallpaperType.DOTTED_HORIZONTAL_LINES);

		function onLoad() {
			onLoadCommon();
		}

		function setDownloadLocation(loc) {
			if (loc == "nand") {
				// TODO: Calculate remaining space on NAND for title and show error if there is none
			} else if (loc == "sd") {
				// TODO: Calculate remaining space on SD card for title and show error if there is none
			}

			// TODO: Calculate remaining space on SD card for homebrew (if it's not just a forwarder being installed) and show error if there is none

			/* Should be conditional later, as seemingly some titles didn't show the controller selection confirmation,
			 * and some showed an additional page, such as the Wii U Transfer Tool. */
			if (false) {
				window.location.href = "controllers?download=true&location=" + loc;
			} else {
				showPage("confirmation");
			}
		}
	</script>

	<style>
		#main-content {
			padding: 0px;
			margin: 0px;
		}

		#pages {
			height: 100%;
			position: relative;
		}

		#pages > * {
			width: 100%;
			height: 100%;
			position: absolute;
		}

		.m-left-auto-children > * {
			margin-left: auto;
		}

		/* ======== Download location page ======== */
		#location-select-page {
			padding: 0px 50px 0px 50px;
		}

		#location-select-tbl {
			width: 100%;
			height: 100%;
			table-layout: fixed;
			border-spacing: 0px;
		}

		#location-select-tbl > tbody > tr.text {
			height: 80px;
		}

		#location-select-tbl > tbody > tr.buttons > .btn {
			font-size: 18px;
		}

		#nand-btn, #sd-card-btn {
			padding: 25px;
			font-size: 16px;
		}

		/* ======== Download confirmation page ======== */
		#confirmation-page {
			padding: 0px 35px 0px 36px;

			/* Opera on the Wii wants to always show a scrollbar when the prompt text is showing, despite there
			 * being just enough space to fit on the page without one.
			 * Not even Opera 9.5 on desktop does this, so we just hide the scrollbar to appease the Wii. */
			overflow: hidden;
		}

		#confirmation-card {
			height: 225px;
			background-image: url("{{ url_for('static', filename='img/confirmation-card.svg') }}");
		}

		#confirmation-card > .header {
			height: 55px;
			border-bottom: 1px solid #34beed;
			padding: 2px 0px;
		}

		#confirmation-card > .header > .title {
			font-size: 18px;
			font-weight: normal;
			text-align: center;
			color: #34beed;
		}

		#confirmation-card > .content {
			height: 128px; /* 225 - 55 - 42 = 128px */
		}

		#confirmation-card > .content > #storage-tbl {
			height: 100%;
		}

		#confirmation-card > .footer {
			height: 42px;
			padding: 2px 4px;
			color: white;
		}

		#storage-tbl {
			width: 100%;
			border-spacing: 0px;
			line-height: 1;
			padding: 0px 6px;
		}

		#storage-tbl th, #storage-tbl td {
			text-align: right;
			font-weight: normal;
			box-sizing: content-box;
		}

		#storage-tbl td.amount {
			width: 90px;
			padding: 0px 7px;
		}

		#storage-tbl td.units {
			width: 130px;
			text-align: center;
		}

		#storage-tbl tr.sep > td > div {
			height: 1px;
			background-color: #34beed;
			margin: 0px 4px;
		}
	</style>
{% endblock %}

{% block content %}
	<div id="pages">
		<div class="page d-none" id="location-select-page">
			{# sometimes you ain't got no choice -#}
			<table id="location-select-tbl">
				<tr class="text">
					<td class="text-center font-18px" colspan="2">{% trans %}Please choose a location to download the data to.{% endtrans %}</td>
				</tr>
				<tr class="buttons">
					{# mmh, should really have a way to HTML encode the hrefs -#}
					<td>{{ osc.btn(_("Wii System Memory"), id="nand-btn", href="javascript:setDownloadLocation(&quot;nand&quot;)", w="228px", h="176px", img=url_for('static', filename='img/blank.gif')) }}</td>
					<td class="m-left-auto-children">{{ osc.btn(_("SD Card"), id="sd-card-btn", href="javascript:setDownloadLocation(&quot;sd&quot;)", w="228px", h="176px", img=url_for('static', filename='img/blank.gif')) }}</td>
				</tr>
			</table>
		</div>
		<div class="page d-none" id="confirmation-page">
			<div id="confirmation-card">
				<div class="header">
					<h2 class="title">Danbo</h2>
				</div>
				<div class="content">
					<table id="storage-tbl">
						<tr>
							<th>{% trans %}NAND Open Blocks:{% endtrans %}</th>
							<td class="amount">4096</td>
							<td class="units">Blocks</td>
						</tr>
						<tr class="red">
							<th>{% trans %}NAND Blocks to Download:{% endtrans %}</th>
							<td class="amount">18</td>
							<td class="units">{% trans %}Blocks{% endtrans %}</td>
						</tr>
						<tr>
							<th>{% trans %}NAND Blocks after Download:{% endtrans %}</th>
							<td class="amount">4078</td>
							<td class="units">{% trans %}Blocks{% endtrans %}</td>
						</tr>
						<tr class="sep"><td colspan="3"><div></div></td></tr>
						<tr>
							<th>{% trans %}SD Card Open Blocks:{% endtrans %}</th>
							<td class="amount">131072</td>
							<td class="units">{% trans %}Blocks{% endtrans %}</td>
						</tr>
						<tr class="red">
							<th>{% trans %}SD Card Blocks to Download:{% endtrans %}</th>
							<td class="amount">16</td>
							<td class="units">{% trans %}Blocks{% endtrans %}</td>
						</tr>
						<tr>
							<th>{% trans %}SD Card Blocks after Download:{% endtrans %}</th>
							<td class="amount">131056</td>
							<td class="units">{% trans %}Blocks{% endtrans %}</td>
						</tr>
					</table>
				</div>
				<div class="footer">
					<p class="bold font-14px">Downloading this software requires 18 blocks in the Wii system memory, and 16 blocks on an SD Card.</p>
				</div>
			</div>
			<p class="blue bold text-center font-20px prompt">Download this software to Wii<br/>system memory now?</p>
		</div>
	</div>
{% endblock %}

{% block footer %}
	<div id="main-footer-btns">
		<div id="page-footers">
			{# Don't hide this one by default, a Back button is a good default -#}
			<div class="page-footer" id="location-select-page-footer">
				{{ osc.btn(_("Back"), class="btn-cancel", href="javascript:history.back()") }}
			</div>
			<div class="page-footer d-none" id="confirmation-page-footer">
				{{ osc.btn(_("Yes"), href="", style="float: left") }}
				{{ osc.btn(_("No"), class="btn-cancel", href="javascript:showPage(&quot;location-select&quot;)", style="float: right") }}
			</div>
		</div>
	</div>
{% endblock %}