{% extends "base-layout.html" %}

{% set header_btns = true %}

{% set title = _("Details") %}
{% set header_title = title %}

{% block head %}
	{{ super() }}
	<script type="text/javascript">
		shop.setWallpaper(WallpaperType.DOTTED_HORIZONTAL_LINES);

		function onLoad() {
			onLoadCommon();
			scrollTarget = $("#title-details")[0];
		}
	</script>

	<style>
		#main-content {
			height: 299px; /* 281 + 9 + 9 = 299 */
			padding: 0px 30px 0px 36px;
			margin: -9px 0px;
			overflow: hidden; /* this doesn't need to scroll?? why is it showing the scrollbar?? */
		}

		.btn-dl {
			padding: 0;
			font-size: 24px;
			color: white;
			line-height: 1;
		}

		.btn-dl .top {
			padding-top: 6px;
		}

		.btn-dl .sep {
			height: 1px;
			display: block;
			background-color: white;
			margin: 0px 9px;
		}

		.btn-dl .bottom {
			padding-bottom: 3px;
		}

		#category-heading {
			width: 229px;
			height: 21px;
			background-color: #34beed; /* I give up with roundedness for now */
			color: white;
			padding: 0px 3px;
			font-size: 14px;
			font-weight: bold;
			line-height: 25px; /* element is a fixed size, positioning like this should work well enough */
		}

		#title-details {
			height: 196px;
			border: 1px solid #34beed;
			padding: 8px;
			margin-bottom: 3px;
			overflow: auto;
		}

		/* :( */
		#title-details > .top {
			display: table;
		}

		#title-details > .top > * {
			display: table-row;
		}

		#title-details > .top > * > * {
			display: table-cell;
			vertical-align: middle;
		}

		#title-details > .sep {
			height: 1px;
			display: block;
			background-color: #34beed;
			margin: 8px 4px;
		}

		#title-details .left-col {
			padding-right: 8px;
		}

		#title-img {
			box-sizing: content-box;
			border: 1px solid #34beed;
			margin-bottom: 8px;
		}

		#btn-controllers {
			font-size: 10px;
			font-weight: bold;
			padding: 0;
			margin: auto;
		}
	</style>
{% endblock %}

{% macro btn_download(top, bottom, href, style) %}
	<a class="btn btn-dl"{{ osc.cond_attr_spcd(href, "href") }} style="width: 241px; height: 76px;{{ style }}">
		<span><span class="top">{{ top }}</span></span>
		<span><span><span class="sep"></span></span></span>
		<span><span class="bottom">{{ bottom }}</span></span>
	</a>
{% endmacro %}

{% block content %}
	{% if package is not none %}
		<div id="category-heading">{{ category_translation(package["category"]) }}</div>
		<div id="title-details">
			<div class="top">
				<div>
					<div class="left-col">
						<img id="title-img" src="{{ package['url']['icon'].replace('https', 'http') }}" width="128" height="48"/>
						{{ osc.btn(_("View compatible controllers"), id="btn-controllers", href="controllers", w="67px", h="55px") }}
					</div>
					<div>
						<p id="title-version"><b>{% trans %}Version{% endtrans %}:</b> {{ package["version"] }}</p>
						<p id="title-release-date"><b>{% trans %}Released{% endtrans %}:</b> {{ package["release_date"] }}</p>
						<p id="title-author"><b>{% trans %}Author{% endtrans %}:</b> {{ package["author"] }}</p>
						<!-- <p id="title-subcategories">Subcategories</p> --> {# would just be hidden if there are no subcategories #}
					</div>
				</div>
			</div>
			<div class="sep"></div>
			<p class="blue bold text-center" id="title-name">{{ package["name"] }}</p>
		</div>
		{# TODO: Retrieve download size. Should be the total size for both menu title and actual app. #}
		{{ btn_download(_("Download"), "0 Blocks", "prepare-download", "margin: auto") }}
	{% else %}
		<p class="font-18px" style="margin-top: 1em">{% trans %}The title cannot be found.{% endtrans %}</p>
	{% endif %}
{% endblock %}

{% block footer %}
	<div id="main-footer-btns">
		{{ osc.btn(_("Back"), class="btn-cancel", id="back-btn", href="javascript:history.back()", style="float: left") }}
		{% if package is not none %}
			{{ osc.btn(_("More Details"), id="more-details-btn", href="details", style="float: right") }}
		{% endif %}
	</div>
{% endblock %}